#title {
  background-color: #ff4c68;
}
body {
  font-family: "Ubuntu";
}
h1 {
  font-family: "Montserrat";
  font-size: 3.5rem;
  line-height: 1.5;
  color: white;
}

h2 {
  font-family: "Montserrat";
  font-size: 3rem;
}
h3 {
  font-size: 1.5rem;
}

.test-text {
  font-family: "Ubuntu";
  font-size: 3rem;
  line-height: 1.5;
}


.container-fluid {
  padding: 3% 15% 7%;
}
.brand {
  font-size: 35px;
}
.links {
  font-family: "Ubuntu";
  font-size: 20px;
}
.navbar {
  padding: 0 0 4.5rem;
}
.nav-item {
  padding: 0px 18px;
}
.download-button {
  margin: 5% 3% 5% 0%;
}

/* main image */
.title-img {
  height: 90%;
  transform: rotate(25deg);
  /* z-index: -1; */
  position: absolute;
  right: 25%;
  
}

/*Feautures*/
#features {
  padding: 7% 15%;
  background-color: white;
  position: relative;
  /* z-index: 1; */
}
.img {
  padding-bottom: 8%;
  color: #fd7f92;
}
.img:hover {
  color: #ff4c68;
}

/* Testimonial Section */

#testimonials {
  text-align: center;
  background-color: #ff4c68;
  color: white;
}
.testimonial-image {
  border-radius: 100%;
  width: 10%;
  margin: 20px;
}
.carousel-item {
  padding: 7% 20%;
}

#press {
  background-color: #ff4c68;
  text-align: center;
  padding-bottom: 3%;
}
.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* cards */

#pricing {
  padding: 5% 5% 3%;
  text-align: center;
}
.card {
  padding-left: 0%;
  padding-right: 0%;
  padding-top: 0%;
  padding-bottom: 3%;
  margin-left: 10px;
  margin-right: 10px;
}

#cta{
  background-color: #ff4c68;
  text-align: center;
}
.cta-text{
  font-family: "Montserrat";
  font-size: 3.5rem;
  color: white;
  padding: 10% 15% 0%;
}
#footer{
  text-align: center;
  padding: 3% 10% 3% 10% ;
}
.footer-text{
  color:gray;
  font-family: "Ubuntu";
  font-size: 1rem;
}
.soc-img{
  width : 30px;
}
.footer-row{
  margin-left: 40%;
  margin-right: 40%;
}
p{
  color: gray;
  font-family: 'Ubuntu';
  font-size: 20px
}
@media (max-width : 1028px) {
  #title{
    text-align: center;
  }
  .title-img{
    height: 110%;
    position: static;
    transform: rotate(0);
    padding-bottom: 10%;
  } 
   .container-fluid{
    padding: 7% 5% 7%;
  }
  h1{
    font-size: 500%;
  }
  .links {
    font-family: "Ubuntu";
    font-size: 50px;
  }
  #features {
    padding: 7% 0% 7%;
    background-color: white;
    position: relative;
    /* z-index: 1; */
  }
  h3{
    font-size: 300%;
  }
  p{
    font-size: 40px;
  }
  .test-text {
    font-family: "Ubuntu";
    font-size: 3.7rem;
    line-height: 1.5;
  }
  .carousel-item {
    padding: 7% 7%;
  }
  .testimonial-image {
    width: 20%;
    margin: 20px;
  }
  .signup{
    font-family: "Ubuntu";
    font-size: 35px;
  }
  .download{
    font-size: 40px;
  }
  .footer-row{
    margin-left: 20%;
    margin-right: 20%;
  }
  .soc-img{
    width : 70px;
  }
  .footer-text{
    font-size: 2rem;
  }
}